body{background-color: rgb(225, 225, 197);
     color: rgb(35, 35, 131);
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;}
      
   h1 {
    color: rgb(92, 61, 120);
    font-size: 48px;
    text-align: center;
}

h2 {
    color: rgb(117, 83, 145);
    font-size: 30px;
    border-bottom: 1.5px solid rgb(0, 0, 0);
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

a {
    color: rgb(133, 7, 7);
    text-decoration: none;
    font-weight: 700;
}

img {
    width: 300px;
    border: 4px solid rgb(50, 40, 59);
    border-radius: 15px;
}

li {
    color: rgb(25, 50, 80);
    margin-bottom: 10px;
}

b {
    color: rgb(106, 58, 147);
    font-size: 20px;
}

mark {
    background-color: rgb(223, 248, 32);
    color: rgb(92, 61, 120);
}

